@import "../../scss/colors/color-palete.scss";

.home-page {
  display: grid;
  place-items: center;
  height: 100vh; // Puna visina ekrana

  &__welcome {
    text-align: center;

    button {
      background-color: #007bff; // Plava boja
      color: white;
      border: none;
      padding: 10px 20px;
      font-size: 16px;
      cursor: pointer;
      border-radius: 5px;
      transition: background-color 0.3s;

      &:hover {
        background-color: #0056b3; // Tamnija plava boja za hover
      }
    }
  }
}