@import "../../scss/colors/color-palete.scss";

.welcome-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; // Puna visina ekrana
  background-color: #f0f0f0; // Pozadinska boja

  &__content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;

    h1 {
      margin-bottom: 20px;
    }

    button {
      background-color: #007bff; // Plava boja
      color: white;
      border: none;
      padding: 10px 20px;
      font-size: 16px;
      cursor: pointer;
      border-radius: 5px;
      transition: background-color 0.3s;
      margin-top: 10px;

      &:hover {
        background-color: #0056b3; // Tamnija plava boja za hover
      }
    }
  }
}